@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* Utilisation des icons bootstrap */

header,
footer {
    background-image: url(../images/fond/background_header_footer.jpg);
}

main {
    background: rgba(255, 255, 255, 0) url(../images/fond/mur-briques6.jpg) center center/cover no-repeat content-box;
}

.carrousel-accueil {
    background-image: url(../images/fond/fond-bois-naturel.jpg);
}

.carousel-inner {
    width: 65%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    outline: rgb(0, 0, 0);
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 3.06rem;
    color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 3.06rem;
    color: rgb(0, 0, 0);
}

.marge {
    margin-left: 5rem;
}

#aProposDeNous span,
#informationsAccueil span,
.span-titre {
    height: 0.28rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50% 5% 50% 5%;
}

.bi {
    width: 4.5vw;
    height: 4.3vh;
}



.sans-border {
    border-top: none;
    border-left: none;
}

.bordered-livre-dor {
    border: 3px groove rgb(255, 244, 212);
}

/* Button settings */
.btn-block {
    display: block;
    width: 100%;
}
.btn-echoppe { background-color: rgb(255, 244, 212); }
.btn-echoppe:hover {
    background-color: rgba(255, 235, 200, 0.802); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn btn-echoppe:hover{
    opacity: 1 !important;
}

#prevButton, #nextButton {
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 50%;
}


/*  Formulaire de connexion     */
.connexion-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 37.5rem;
}

.connexion-form h2 {
    margin-bottom: 1rem;
}

.connexion-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.connexion-form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.connexion-form button:hover {
    background-color: #0056b3;
}

.inscription-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
}

.inscription-link:hover {
    text-decoration: underline;
}

.img-resize {
    width: 200px;       /*  Changer la largeur selon vos besoins  */
    height: 200px;      /*  Changer la hauteur selon vos besoins  */
    object-fit: contain;  /*  Pour maintenir l'aspect ratio  */
}